
body{
font-family:'Arial';
background:#4C4C4C;
}

img{
border:0px;
}

h1,h2,h3,h4,h5,h6,p,a{
margin:0px;
text-decoration:none;
}


#general{
width:90%;
margin:0px 5%;
background:white;
}

#head{
background:#999999;
}

.main_title{
color:white;
padding:5px;
}

#tabs{
background:#999999;
margin-bottom:10px;
}

.tab{
display:block;
float:left;
padding:5px;
margin:5px 5px 0px 5px;
background:#E6E6E6;
color:black;
}

.tab_used{
background:white;
}

.block_content{
display:none;
}

.block_used{
display:block;
}

.text{
margin:5px;
font-size:14px;
}

.num{
font-weight:bold;
font-size:16px;
color:white;
background:black;
padding:3px;
}

#new_secret_word, #secret_word, #file_name{
font-size:16px;
padding:3px;
margin:5px;
width:80%;
}

#block_mouse{
height:300px;
border:1px solid black;
margin:5px;	
}

#new_key_progress{
height:20px;
border:1px solid black;
margin:5px;
}

.progress_show{
width:0px;
height:20px;
background:green;
}

#block_new_key{
width:90%;
border:0px;
margin:5px 5%;
display:none;
}

.label{
display:block;
margin:5px;
font-size:14px;
}

.button{
background:green;
color:white;
font-size:18px;
padding:5px;
margin:5px;
float:left;
text-align:center;
}

#new_key_button,#new_key_copy,#new_key_download{
display:none;
}